/* < Customer Feedback Section > */
div.customers-statement-carousel-container {
  /* 2*slides + 2*carousel-gap + 2*arrow + slide-gap */
  width: calc(1000px + 48px + 96px + 72px);
}

ul.customers-statement-carousel-slides {
  max-width: 1072px; /* 2*slides + slide-gap */
  gap: 72px;
  transition: transform 300ms ease-out;
}

li.customer-statement-card {
  height: 400px;
  width: 500px;
  padding: 28px;
  border: 1px solid transparent;
  border-image: linear-gradient(to left, #d9deff -5%, #b1bdff 80%) 1;
  background: linear-gradient(
    to top,
    #fbfbff00 -100%,
    #eef0ff 49%,
    #fbfbff 100%
  );
  box-shadow: 0 0 20px #7a8dff26;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

li.customer-statement-card > * {
  cursor: default;
}

div.employee-container {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #eaedff, #677cff 50%, #eaedff) 1;
}

div.employee-container > img {
  background-size: contain;
  width: 58px;
  height: 58px;
}

div.employee-info-container {
  padding: 2px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
}

div.employee-info-container > p {
  font-size: var(--text-size-larger);
  line-height: 26px;
  color: var(--primary500);
  font-weight: var(--semi-bold);
  text-align: start;
}

div.employee-info-container > p:nth-of-type(2) {
  color: var(--neutrals600);
  line-height: 24px;
}

li.customer-statement-card > h5 {
  text-align: start;
  flex-grow: 1;
}

div.customer-info {
  display: flex;
  justify-content: space-between;
}

div.customer-info > img {
  height: 43px;
}

div.customers-statement-index-container {
  display: none;
}

/* </ Customer Feedback Section> */

/* < Responsive > */

@media (max-width: 1395px) {
  div.customers-statement-carousel-container {
    /* 1*slide + 2*carousel-gap + 2*arrow */
    width: calc(500px + 48px + 96px);
  }

  ul.customers-statement-carousel-slides {
    /* 1*slide */
    max-width: 500px;
  }

  div.customers-statement-index-container {
    display: flex;
  }
}

@media (max-width: 700px) {
  div.customers-statement-carousel-container {
    width: 100%;
  }
}

/* </ Responsive > */
