/* < Solutions Section > */

section.solutions-section {
    background: linear-gradient(to bottom right, #0548d0, #1b2254 50%, #1c2356),
      linear-gradient(to top right, #0d2068, #253b8d 10%, #1f337e 67%, #061242);
  }
  
  div.solutions-box {
    flex-direction: column;
    justify-content: center;
  }
  
  div.solutions-box h2 {
    color: var(--white);
  }
  
  div.solutions-cardList-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  div.solution-card-container {
    max-height: 463px;
    padding: 28px;
    background: linear-gradient(135deg, #fbfbff, #eef0ff 49%, #fbfbfb00 200%);
    box-shadow: 0 0 20px #7a8dff26;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-basis: 360px;
    gap: 24px;
  }
  
  div.solution-card-container > img {
    max-width: 304px;
    width: 100%;
    max-height: 203px;
    aspect-ratio: 304/203;
    border-radius: 10px;
  }
  
  div.solution-card-container > div.text-container {
    min-height: 106px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  div.solution-card-container h5 {
    font-weight: var(--bold);
  }
  
  div.solution-card-container p {
    flex-grow: 1;
    line-height: 24px;
  }
  
  div.solution-card-container > a {
    color: var(--primary500);
    gap: 8px;
    font-weight: var(--semi-bold);
    padding: 12px 24px;
    outline: 1px solid var(--primary500);
    background-color: var(--white);
    transition: 0.3s;
  }
  
  div.solution-card-container > a:hover {
    outline: none;
    background-color: var(--primary500);
    transition: 0.5s;
  }
  
  div.solution-card-container > a:hover {
    color: white;
    transition: 0.5s;
  }
  
  div.solution-card-container:last-child > a {
    opacity: 0.5;
    background-color: inherit;
  }
  
  /* </ Solutions Section > */