/* < Team Qualities Section > */

.teamQualities-box {
  margin: 0 auto;
  width: 1280px; /* 1120px + 2 * 80px padding */
}

.teamQualities-carousel-container {
  justify-content: space-between;
  align-self: normal; /* Override the align-items: center set in its parent(div.carousel-box). */
}

ul.teamQualities-carousel-slides {
  width: 976px;
  gap: 72px;
  transition: transform 600ms ease-out;
}

li.teamQuality-content-container {
  padding: 48px 60px;
  border-radius: 12px;
  background: linear-gradient(120deg, #0548d0 -20%, #1b2254 50%, #1c2356);
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
}

li.teamQuality-content-container > * {
  color: var(--white);
  cursor: default;
  text-align: left;
}

.teamQualities-prev-arrow,
.teamQualities-next-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* </ Team Qualities Section > */

/* < Responsiveness > */

@media (max-width: 1280px) {
  .teamQualities-box {
    width: 100%;
  }


  ul.teamQualities-carousel-slides {
    width: calc(100% - 144px);
  }
}

@media (max-width: 700px) {
  ul.teamQualities-carousel-slides {
    width: 100%;
  }

  li.teamQuality-content-container {
    padding: 36px 40px;
  }
}

/* </ Responsiveness > */
